    /* First container (logo and links container) */
.upper-container {
    background-color: #1F2937;
    justify-content: space-around;
    height: 500px;
}

.header-container {
    width: auto;
    height: 100px;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-bottom: 60px;
    border: 10px solid black;
}

.first-header-container {
    align-items: center;
    justify-content: space-around;
}

.header-box {
    width: 200px;
}

.second-header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.linkone-box, .linktwo-box, .linkthree-box {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

    /* Second container (title, information, sign up and image container) */

.first-information-container {
    width: auto;
    height: 500px;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border: 10px solid green;
}

.title-container {
    background-color: red;
    height: 300px;
}

.first-image-box {
    background-color: gray;
}