    /* First container (logo and links container) */
.upper-container {
    background-color: #1F2937;
    justify-content: space-around;
    height: 600px;
    margin-bottom: 15px;
}

.header-container {
    width: auto;
    height: 100px;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-bottom: 60px;
}

.first-header-container {
    align-items: center;
    justify-content: space-around;
}

.header-box {
    width: 200px;
}

.second-header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.linkone-box, .linktwo-box, .linkthree-box {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

    /* Second container (title, information, sign up and image container) */

.first-information-container {
    width: auto;
    height: 440px;
    background-color: #1F2937;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.title-container {
    width: 650px;
    height: 300px;
    margin: 50px;
}

.title-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
}

.first-information-box {
    font-size: 30px;
}

.sign-up-box {
    width: 200px;
    height: 60px;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #3882F6;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.first-image-box {
    width: 650px;
    height: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: gray;
    margin: 50px;
    font-size: 20px;
    opacity: 0.8;
}

 /* White middle container */

 .middle-container {
    width: auto;
    height: 600px;
 }

.middle-upper-container {
    width: auto;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #1F2937;
    font-size: 36px;
}

.middle-inferior-container {
    width: auto;
    height: 400px;
    display: flex;
    justify-content: center;
}

.middle-image-box-one, .middle-image-box-two, .middle-image-box-three, .middle-image-box-four {
    width: 200px;
    height: 200px;
    margin: 30px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.middle-subtext-box-one, .middle-subtext-box-two, .middle-subtext-box-three, .middle-subtext-box-four {
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 35px;
    font-size: 20px;
}

/* Gray middle container */

.middle-speech-container {
    width: auto;
    height: 450px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    display: flex;
}

.speech-text-container {
    width: 1000px;
    height: 300px;
}

.speech-box {
    width: 1000px;
    height: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.name-box {
    width: 1000px;
    height: 100px;
    text-align:right;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* Second (last) white container */

.sign-up-end-white-container {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-blue-end-container {
    width: 1200px;
    height: 200px;
    background-color: #3882F6;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-end-blue-text-container {
    width: 900px;
    height: 150px;
    display: flex;
    align-items: center;
}

.end-blue-information-container {
    width: 600px;
    height: 100px;
}

.blue-end-text-box-one {
    width: 600px;
    height: 50px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    font-size: 30px;
}

.blue-end-text-box-two {
    width: 600px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.blue-end-sign-up-container {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-end-sign-up-box {
    width: 150px;
    height: 40px;
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 10px;
}

.end-page-blue-container {
    width: auto;
    height: 100px;
    background-color: #1F2937;
}